<footer>
    <div class="gb-internal-ads">
        <ul>
            <li>
                <a href="http:/listas.garbarino.com">
                  <img src="{{statics_base_url}}/{{app_version}}/images/footer_listas_garbarino.png" width="161px" height="77px" alt="Listas de regalos"/>
                  <div class="internal-ads-hover"><p>¿Querés armar una lista de regalos?</p><span>Abri tu lista<i class="icon-right-open"></i></span></div>
                </a>
            </li>
            <li>
                <a data-target="#venta-empresas" data-toggle="modal">
                    <img src="{{statics_base_url}}/{{app_version}}/images/garbarino-ventaempresas-footer.png" width="161px" height="77px    " alt="Garbarino venta a empresas"/>
                    <div class="internal-ads-hover"><p>¿Tenés una empresa?</p><span>Contactános<i class="icon-right-open"></i></span></div>
                </a>
            </li>
            <li>
                <a href="http://www.garbarinoviajes.com.ar/?utm_medium=bannerfooter&utm_source=garbarino.com">
                  <img src="{{statics_base_url}}/{{app_version}}/images/garbarino-viajes-footer.png" alt="Garbarino viajes"/>
                  <div class="internal-ads-hover"><p>Conocé tu próximo destino</p><span>Viajá<i class="icon-right-open"></i></span></div>
                </a>

            </li>
            <li class="gb-internal-ads-phone-sale"><img src="{{statics_base_url}}/{{app_version}}/images/venta-telefonica.png" width="161px" height="77px" alt="Garbarino venta telefonica"/></li>
        </ul>
    </div>
    <div class="gb-newsletter-subscribe">
      <div class="gb-newsletter-container">
        <div class="gb-newsletter-subscription">
            <div class="gb-newsletter-subscription-title">
                <p>¿Querés recibir las mejores ofertas?</p>
                <p>Ingresá tu email</p>
            </div>
            <div id="subscribe-popover" class="gb-newsletter-subscription-form">
                <div id="subscribe-status" class="gb-newsletter-popover gb--success">
                    <span id="subscribe-close" class="gb-popover-close">&#10006;</span>
                    <p id="subscribe-message"></p>
                </div>
                <form id="newsletter-subscription-e" name="newsletter-subscription" action="#" method="post">
                    <input type="email"  id="newsletter-subscription" placeholder="tu@email.com"/>
                    <input id="subscribe-action" type="submit" value="Suscribite" />
                </form>
            </div>
        </div>
        <div class="gb-social-media">
            <ul class="social">
                <li><a href="https://www.facebook.com/GarbarinoGarantiaDeConfianza" target="_blank"><i class="gb-icon-facebook"></i></a></li>
                <li><a href="https://twitter.com/garbarino" target="_blank"><i class="gb-icon-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/user/garbarinocom" target="_blank"><i class="gb-icon-youtube"></i></a></li>
                <li><a href="https://plus.google.com/+garbarino/posts" target="_blank"><i class="gb-icon-gplus"></i></a></li>
                <li><a href="https://www.instagram.com/garbarinoarg/" target="_blank"><i class="gb-icon-instagram"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="gb-about gb-wrapper">
        <div class="gb-about-garbarino">
            <span class="icon-down-open"></span>
            <h2>Garbarino</h2>
            <ul>
                <li><a href="/rse">Responsabilidad social</a></li>
                <li><a data-target="#prensa" data-toggle="modal">Prensa</a></li>
                <li><a href="/sumate-a-garbarino/index.html" >Sumate a Garbarino</a></li>
                <li><a href="/apps">Bajá ¡GRATIS! nuestra app</a></li>
            </ul>
        </div>
        <div class="gb-about-empresasgarbarino">
            <span class="icon-down-open"></span>
            <h2>Empresas Garbarino</h2>
            <ul>
                <li><a href="http://www.garbarinoviajes.com.ar/?utm_medium=bannerfooter&utm_source=garbarino.com">Garbarino Viajes</a></li>
                <li><a href="http://listas.garbarino.com">Listas de Regalos</a></li>
                <li><a data-target="#venta-empresas" data-toggle="modal">Venta a Empresas</a></li>
            </ul>
        </div>
        <div class="gb-about-servicios">
            <span class="icon-down-open"></span>
            <h2>Servicios</h2>
            <ul>
                <li><a href="/contactos/cac">Atención al Cliente</a></li>
                <li><a data-target="#venta-telefonica" data-toggle="modal">Venta Telefónica</a></li>
            </ul>
        </div>
        <div class="gb-about-ayuda">
            <span class="icon-down-open"></span>
            <h2>Ayuda</h2>
            <ul>
                <li><a href="/sucursales">Nuestros Locales</a></li>
                <li><a href="/faqs">Preguntas frecuentes</a></li>
            </ul>
        </div>
    </div>
    <div class="gb-categories-mostsearched gb-wrapper">
        <div class="categories">
            <span class="icon-down-open"></span>
            <h2>Categorías</h2>
            <ul>
                <li><a href="/productos/tv-led-y-video/4340">Televisores</a></li>
                <li><a href="/productos/bicicletas/4425">Bicicletas</a></li>
                <li><a href="/productos/celulares-libres/4359">Celulares</a></li>
                <li><a href="/productos/juegos/4380">Juguetes</a></li>
                <li><a href="/productos/notebooks/4363">Notebooks</a></li>
                <li><a href="/productos/sabanas/4216">Sábanas</a></li>
                <li><a href="/productos/computadoras-de-escritorio/4365">Computadoras</a></li>
                <li><a href="/productos/sets-de-vajilla/4222">Vajilla</a></li>
                <li><a href="/productos/parlantes/4348">Parlantes</a></li>
                <li><a href="/categorias">Todas las categorías</a><i class="icon-angle-right"></i></li>
            </ul>
        </div>
        <div class="gb-footer-brands">
            <span class="icon-down-open"></span>
            <h2>Marcas</h2>
            <ul>
                <li><a href="/marcas/samsung">Samsung</a></li>
                <li><a href="/marcas/philips">Philips</a></li>
                <li><a href="/marcas/lg">LG</a></li>
                <li><a href="/marcas/sony">Sony</a></li>
                <li><a href="/marcas">Todas las marcas</a><i class="icon-angle-right"></i></li>
            </ul>
        </div>
        <div class="gb-footer-mostsearched">
            <span class="icon-down-open"></span>
            <h2>Lo más buscado</h2>
            <ul>
                <li><a href="/hotsale">Hot Sale</a></li>
                <li><a href="/producto/camara-deportiva-gopro-hero4-silver-chdhy-401/5204a2926f">Gopro</a></li>
                <li><a href="/productos/colchones-y-sommiers/4215">Colchones</a></li>
                <li><a href="/productos/herramientas/4255">Herramientas</a></li>
                <li><a href="/productos/ollas-y-cacerolas/4223">Ollas</a></li>
            </ul>
        </div>
    </div>

    <div class="gb-footer-legal">
        <div class="gb-wrapper">
            <div class="gb-footer-disclaimer">
                <ul>
                    <li><a data-target="#terms-modal" data-toggle="modal">Términos y condiciones</a></li>
                    <li><a href="https://www.garbarino.com/bases-y-condiciones">Bases y condiciones de promociones</a></li>
                    <li><a data-target="#privacy-modal" data-toggle="modal">Políticas de privacidad</a></li>
                </ul>
                <span>Copyright &copy; 2016 Garbarino S.A.I.C.e.I.</span>
            </div>
            <div class="gb-footer-logoslegal">
                <p>
                    Promoción válida exclusivamente para compras online desde el 16 hasta el 17 de mayo de 2016 o hasta agotar stock indicado en cada producto, lo que ocurra primero. No acumulable con otras promociones u ofertas.
                    *promoción 18 cuotas: tna: 0%, tea: 0% promoción vigente en todas las sucursales garbarino de la república argentina del  16/05/16 al 17/05/16 o hasta agotar stock indicado en cada producto, lo que ocurra primero. El costo financiero total (cft) varía según los cargos cobrados por cada banco. Por favor requiera esta información al banco emisor de su tarjeta. La financiación publicada es únicamente para los productos seleccionados, con las tarjetas visa, mastercard,amex, cabal, dinners, nativa, nativa master de todos los bancos. Consulte los productos seleccionados en <a href="https://www.garbarino.com/bases-y-condiciones">https://www.garbarino.com/bases-y-condiciones</a>.El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Garbarino S.A.I.C.e.I. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados en www.garbarino.com.ar y/o www.garbarino.com son válidos exclusivamente para la compra vía internet en las páginas antes mencionadas. Consulte el precio de nuestros productos, de lunes a domingo de 10,00 a 18,00 al (011) 4788-7100 o a cac@garbarino.com.ar (Ley 4435 GCBA). 
                </p>
                <ul>
                    <li>
                        <a href="https://www.econfianza.org/ar/?c=minisitio&amp;s=281" target="_blank">
                            <img border="0" src="{{statics_base_url}}/{{app_version}}/images/sello_cace.jpg" width="150px" alt="Sello Cace" height="50px">
                        </a>
                    </li>
                    <li>
                        <a data-target="#environment-modal" data-toggle="modal">
                            <img src="{{statics_base_url}}/{{app_version}}/images/ambiental.png" width="50px" height="50px" alt="Somos una empresa verde" />
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jus.gov.ar/datos-personales.aspx/" target="_blank">
                            <img src="{{statics_base_url}}/{{app_version}}/images/datos-personales.jpg" width="117px" height="50" alt="Datos Personales" />
                        </a>
                    </li>
                    <li class="gb-footer-logoslegal-afip">
                        <a href="https://servicios1.afip.gov.ar/clavefiscal/qr/response.aspx?qr=zmrZfIUdESKk3NoXhDUG3A,," target="_blank">
                            <img src="{{statics_base_url}}/{{app_version}}/images/datafiscal.png" width="37" height="50" alt="Data Fiscal" />
                        </a>
                    </li>
                    <li class="gb-footer-logoslegal-tienda-hotsale">
                        <a href="http://www.cace.org.ar/selloscace" target="_blank">
                            <img src="{{statics_base_url}}/{{app_version}}/images/logo-tienda-oficial-hotsale.png" width="60" height="50" alt="Garbarino - Tienda Oficial HOT Sale">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{{> firstPurchase }}
<script type="text/javascript">
    window.normandia_endpoint = '{{normandia_endpoint}}';
</script>
<!-- Smart Banner-->
{{> smartBanner}}
{{> footer_terms_popup}}
{{> footer_privacy_popup}}
{{> footer_environment_popup}}
{{> footer_venta_empresas_popup}}
{{> footer_venta_telefonica_popup}}
{{> footer_prensa_popup}}
